* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

input {
  border: 1px solid #e3e3e3; 
  display: inline-block;
  width: 90%;
  height: 45px;
  padding: 5px 10px;
  font-size: 15px;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px auto 10px auto;
  padding: 0 20px 0 0;
  justify-content: space-evenly;
  position: relative;
}

.search .left {
  width: 25%;
}

.left img {
  width: 50px;
  margin-left: 20px;
}

.left span {
  font-size: 21px;
  padding-left: 10px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  margin-top: 0px;
  line-height: 0;
}

.search .right {
  width: 75%;
}

.right img {
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}

.main-image {
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
  margin: 0 auto 200px auto;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;  
}



.thumbnails-list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  min-width: 10%;
  width: 10%;
  min-height: 70px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  float: left;
  cursor: pointer;
}

.about {
  z-index: 999;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);  
}

.about-bottom {
  padding: 0 20px;
}
.about-bottom span {
  font-size: 12px;
  font-weight: 800;
}
.about-bottom img {
  width: 18px;
}

.about-top {
  padding: 0 20px;
}

.about-top p {
  font-size: 16px;
  padding: auto 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {

 input {
  width: 85%;
  margin-left: 20px;
  }
  .thumbnails-list {
    height: 200px;
    overflow-y: scroll;
  }
  .thumbnail {
    min-width: 20%;
  }
  .main-image {
    margin: 0 auto 100px auto;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  input {
   width: 85%;
   border: 1px solid #e3e3e3; 
   margin-left: 20px;
   }
   .thumbnails-list {
     height: 200px;
     overflow-y: scroll;
   }
   .thumbnail {
     min-width: 20%;
   }
   .main-image {
     margin: 0 auto 100px auto;
   }
 
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  input {
   display: block;
   width: 75%;
   margin-top: 40px !important;
   border: 1px solid #e3e3e3; 
   margin: 0 auto;
   }
   .thumbnails-list {
     height: 200px;
     overflow-y: scroll;
   }
   .thumbnail {
     min-width: 20%;
   }
   .main-image {
     margin: 0 auto 100px auto;
   }
   .search {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .search .right {
    width: 100%;
  }
  .search .left {
    width: 100%;
  }
  .left span {
    padding-left: 20px;
    font-size: 27px;
    top:20%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  input {
    display: block;
    width: 75%;
    margin-top: 40px !important;
    margin: 0 auto;
    border: 1px solid #e3e3e3; 
    }
    .thumbnails-list {
      height: 250px;
      overflow-y: scroll;
    }
    .thumbnail {
      min-width: 25%;
    }
    .main-image {
      margin: 0 auto 260px auto;
    }
    .search {
     width: 100%;
     display: flex;
     flex-direction: column;
     padding: 0;
     position: relative;
   }
   .search .right {
     width: 100%;
   }
   .search .left {
     width: 100%;
   }
   .left span {
     padding-left: 20px;
     font-size: 27px;
     top:20%;
   }
  
}

