* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

input {
  display: inline-block;
  width: 90%;
  height: 45px;
  padding: 5px 10px;
  font-size: 15px;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px auto 10px auto;
  padding: 0 20px 0 0;
  justify-content: space-evenly;
  position: relative;
}

.search .left {
  width: 25%;
}

.left img {
  width: 50px;
  margin-left: 20px;
}

.left span {
  font-size: 21px;
  padding-left: 10px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  margin-top: 0px;
  line-height: 0;
}

.search .right {
  width: 75%;
}

.right img {
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}

.main-image {
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
  margin: 0 auto 20px auto;
  background-color: #e3e3e3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}

.main-image img {
  width: 100%;
}

.thumbnails-list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.thumbnail {
  width: 10%;
  min-height: 70px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  float: left;
}

.about {
  z-index: 999;
  position: absolute;
  top: 84px;
  width: 100%;
  background-color: #fff;
}

.about-content {
  /* padding: 0 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-bottom {
  padding: 0 20px;
}
.about-bottom span {
  font-size: 12px;
  font-weight: 800;
}
.about-bottom img {
  width: 18px;
}

.about-top {
  padding: 0 20px;
}

.about-top p {
  font-size: 16px;
  padding: auto 20px;
}